body
{
    background-color: white;
}
#mainmenu > a
{
    width: 10%;
    height: 100%;
    float: left;
}
#mainmenu > a > img
{ 
    display: block;
    margin: auto;
    height: 10%;
}
#mainmenu > ul
{
    width: 60%;
    line-height: 7em;
    float: left;
    text-align: center;
}
#mainmenu > ul > li
{
    display: inline;
}
