@media screen and (min-width: 768px) {
    

body/* This is a comment line in CSS */
{
    background-color: #FFF;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    letter-spacing: 100%;
    text-indent: 0px;
    word-spacing: 1px;

}
#cookies-message {
    position: fixed;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 9999;
    cursor: pointer;
    text-transform: uppercase;
}


#mainmenu > a
{
    width: 10%;
    height: 100%;
    float: left;
}
#mainmenu > a:hover {
    color: red; 
    text-decoration: underline; 
  }
  #mainmenu > a:visited 
  {
    color: green; 
  }
   
#mainmenu > a > img
{ 
    display: block;
    margin: auto;
    height: 7em;
}
#mainmenu > ul
{
    margin-top: auto;
    width: 60%;
    line-height: 7em;
    float: right;
    text-align: center;
}
#mainmenu > ul > li
{
    color: #001AFF;
    font-family: Russo One;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    text-decoration-line: underline;
    display: inline-block;
    width: 170px;
    height: 120px;
    border: 1px solid #CCC;
    background: #F9F9F9;
}
.Homepagefoto > a > img
{
    clear: both;
    float: left;
    width: 100%;
    height: 450px;
    margin-bottom: 55px;
}
.mainarticle
{
    clear: both;
    width: 1200px;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 37px;
}
.mainarticle>h1
{
    color: #000;
    font-family: Microsoft Sans Serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}
.mainarticle>a
{
    color: #000;
    font-family: Microsoft Sans Serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    

}
.button-link {

    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    color: #000;
    font-family: Russo One;
    font-size: 20px;
    line-height: normal;
    width: 216px;
    height: 68px;
    border-radius: 8px;
    background: #04FFF0;
    cursor: pointer;
    margin-bottom: 34px;
}
.button-link:hover {
    background-color: #1c07fc;
}
footer 
{
    position: relative;
    clear: both;
    width: 100%;
    height: 120px;
    background:black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;

}
footer >h2
{
    color: #FFF;
    font-family: Russo One;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}
.program_article
{
    clear: both;
width: 1200px;
height: auto;
color: #000;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: auto;
margin-right: auto;
margin-top: 34px;
margin-bottom: 34px;
}
.program_article>a> img
{
    width: 579px;
    height: auto;

}
#contact_formulier
{
    clear: both;
    width: 1200px;
    height: 800px;  
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 34px;
    margin-bottom: 34px;
}
#contact_formulier:nth-child(even) {
   background-color: #CFF; 
  }
  
  #contact_formulier:nth-child(odd) {
    background: rgba(211, 213, 213, 0.45);
   /* background-color: #FFF;*/
  }
#contact_formulier>h1,p 
{
    padding-top: 39px;
    color: #000;
    font-family: Russo One;
}
#contact_formulier>h1:first-letter
{
    margin-left: 43px;
    font-size: 40px;
}
#contact_formulier>h1
{
    margin-left: 43px;
    font-size: 40px;
}
#contact_formulier>p
{
    margin-left: 58px;
    font-size: 20px;
}

#contact_formulier> form
{
    padding-top: 16px;
    margin-left: 58px;
    color: #000;
    font-family: Russo One;
    font-size: 20px;
}
#contact_formulier>.klachten_suggesties input[type="text"] 
{
    width: 762px;
    height: 160px;
}

#contact_formulier >.sendbutton> button
{
    clear: both;
    margin-left: auto;
    margin-right: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-family: Russo One;
    font-size: 40px;
    width: 300px;
    height: 100px;
    border-radius: 8px;
    background: #04FFF0;
    cursor: pointer;
}
#main_doel
{
    clear: both;
    width: 1200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
#aside_doelen{
    display: grid;
    grid-template-columns: auto auto auto;
}
#aside_doelen > article
{
    width: 450px;
    margin-right: auto;
    margin-left: 160px;

}
#aside_doelen > a > img 
{
    width: auto;
    height: 300px;   

}

#foto_onderaan_doelen
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: 34px;

}
#main_motivatie
{
    clear: both;
    width: 1200px;
    height: auto;
    margin-left: 120px;
    margin-right: auto;
}
.energie_foto
 {
    display: grid;
    grid-template-columns: auto auto auto;
}
.energie_foto >a>img
{
    margin-left: 120px;
    height: 276px;
    width: auto;
}
.article_doelen
{
    clear: both;
    display: grid;
    grid-template-columns: auto auto;
}
.article_doelen1{
    margin-left: 120px;
    width: 400px;
    height: auto;
}
.article_doelen2{
    margin-left: 120px;
    width: 400px;
    height: auto;
}
.article_doelen3
{
    margin-left: 120px;
    width: 1200px;
    height: auto;
}
.main_benodigdheden
{
    clear: both;
    width: 1200px;
    height: auto;
    margin-left: 120px;
    margin-right: auto;
}
.aside_benodigdheden
{
    clear: both;
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 120px;
    margin-right: 120px;
}
.aside_benodigdheden> a
{
    height: auto;
    width: 600px;
}
.aside_benodigdheden> a> img
{
    height: 300px;
    width: auto;
}
.aside_benodigdheden1
{
    clear: both;
    width: 1200px;
    height: auto;
    margin-left: 120px;
    margin-right: auto;
}
}
@media screen and (max-width: 769px)
{

}
